Package: com.pookjw.revealloader
Name: RevealLoader
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Jinwoo Kim
Author: Jinwoo Kim
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
